@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
}

:root {
    --thewidth: 20vw;
    --theheight: calc(3/2 * var(--thewidth));
    --frame: 15;

}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    background: linear-gradient(to top, rgb(255, 126, 255), rgb(248, 147, 147), rgb(158, 45, 250), rgb(96, 184, 255), rgb(255, 126, 255)); 
    height: 2100vh;
}

.container {
    width: 100vw;
    height: 100vh;
    perspective: 40cm;
    position: fixed;
    background-color: transparent;
    z-index: 1;
}

.OriginalPoster{
    background-size: contain;
    background-repeat: no-repeat;
    width: var(--thewidth);
    height: var(--theheight);
    background-image: url("Images/Poster/tangled\ poster.jpg");
    position: fixed;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

}

.Orig{
    background-size: contain;
    background-repeat: no-repeat;
    width: var(--thewidth);
    height: var(--theheight);
    position: fixed;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: transform 1s ease-out, left 3s ease-out, top 3s ease-out, background-image 1s ease-out, filter 2s ease-in;
    background-size: 100% 100%;
} 

.button1 {
    position: absolute;
    left: 0
}

.button2 {
    position: absolute;
    left: 10vw;
}

.button3 {
    position: absolute;
    left: 20vw
}

.button4 {
    position: absolute;
    left: 30vw;
}

.button5 {
    position: absolute;
    left: 40vw;
}

.button6 {
    position: absolute;
    left: 50vw;
}

.button7 {
    position: absolute;
    left: 60vw;
}
.button8 {
    position: absolute;
    left: 70vw;
}

.button9 {
    position: absolute;
    left: 80vw;
}

.GrassOrig {
    background-image: url("Images/Orig/grassOrig.png");
    z-index: 7;

}

.LeavesOrig{
    background-image: url("Images/Orig/LeavesOrig.png");
    z-index: 12;
}

.RapunzelOrig {
    background-image: url("Images/Orig/RapunzelOrig.png");
    z-index: 11;
}

.LogoOrig {
    background-image: url("Images/Orig/logoOrig.png");
    z-index: 18;
}

.TreeOrig {
    background-image: url("Images/Orig/TreeOrig.png");
    z-index: 7;
}

.SideCharactersOrig {
    background-image: url("Images/Orig/sidecharactersOrig.png");
    z-index: 10;
}

.TowerOrig {
    background-image: url("Images/Orig/towerOrig.png");
    z-index: 5;
}
.CliffOrig {
    background-image: url("Images/Orig/clifOrig.png");
    z-index: 4;
}
.BackCliffOrig {
    background-image: url("Images/Orig/backCliffOrig.png");
    z-index: 2;
}
.SkyOrig {
    background-image: url("Images/Orig/SkyOrig2.png");
    z-index: 1;
}


.frame2 {
    border-color: white;
    border-style: solid;
    border-width: calc(0.12*var(--thewidth));
    z-index: 15;
    width: var(--thewidth);
    height: calc(0.995*var(--theheight));
    left: 150vw;
}

.frame1 {
    border-color: black;
    border-style: solid;
    border-width: calc(0.2*var(--thewidth));
    z-index: 15;
    width: var(--thewidth);
    height: var(--theheight);
    left: -150vw;
}

.posterText {
    background-image: url("Images/New/top\ text.png");
    z-index: 15;
    left: -150vw;
}

.shadow {
    background-image: url("Images/New/logoshadow.png");
    z-index: 15;
    left: 150vw;
}

.footer {
    position: absolute;
    top: 2000vh;
    opacity: 0;
}

.marker {
    width: 100vw;
    height: 5px;
    position: absolute;
    opacity: 0;
}

.marker1 {
    top: 200vh;
}
.marker2 {
    top: 400vh;
}
.marker3 {
    top: 600vh;
}
.marker4 {
    top: 800vh;
}
.marker5 {
    top: 1000vh;
}
.marker6 {
    top: 1200vh;
}
.marker7 {
    top: 1400vh;
}
.marker8 {
    top: 1600vh;
}
.marker9 {
    top: 1800vh;
}



.text {
    padding-left: 1vw;
    padding-right: 1vw;
    font-size: 3.5vh;
    font-weight: bold;
    font-family: Roboto;
    position: absolute;
    width: 13%;
    color: white;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 0.5vh;
    -webkit-text-stroke-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(to right, rgb(255, 126, 255), rgb(248, 147, 147), rgb(215, 167, 255), rgb(96, 184, 255), rgb(255, 126, 255)); 
    background-size: 200%;
    filter: hue-rotate(45deg);
    filter: drop-shadow(6px 6px 2px rgba(0,0,0,0.25));
    animation: text-color-animation 3s infinite linear;
    transition: transform 1s ease-out, opacity 1s ease-out;
    transform: translateY(2vh);
    opacity: 0;
    /* background-size: 1000%;
    background-repeat: repeat;
    color: transparent;
    
     
    -webkit-text-fill-color: transparent;  */
    
}

@keyframes text-color-animation{
    from {background-position: 0, 0}

    to {background-position: 200%, 200%}
}

.text.show {
    transform: translateY(0);
    opacity: 1;
}

.text1 {
    top: 120vh;
    left: 1vw;
 
}

.text1andhalf {
    top: 5vh;
    right: 1vw;
    text-align: right;
 
}
.text2 {
    top: 200vh;
    right: 1vw;
    text-align: right;
}
.text3 {
    top: 400vh;
    left: 1vw;
}
.text4 {
    top: 600vh;
    right: 1vw;
    text-align: right;
}
.text5 {
    top: 800vh;
    left: 1vw;
}
.text6 {
    top: 1000vh;
    right: 1vw;
    text-align: right;
}
.text7 {
    top: 1200vh;
    left: 1vw;
}
.text8 {
    top: 1400vh;
    right: 1vw;
    text-align: right;
}
.text9 {
    top: 1600vh;
    left: 1vw;
}

.text10 {
    top: 1800vh;
    right: 1vw;
    text-align: right;
}

.text11 {
    top: 1900vh;
    left: 1vw;
}

.text12 {
    top: 2094vh;
    left: 1vw;
    width: 30%;
    z-index: 5;
    text-decoration: none;
    
}

.text12andhalf {
    top: 2099vh;
    right: 1vw;
    text-align: right;
    font-size: 2vh;
}

a {
    color: inherit;
    text-decoration: underline;
}